<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(217, 216, 200);">
    <div style="background-color:rgb(200, 200, 177);border:5px solid rgb(112, 103, 80);  padding: 1px; margin: 1px;">
        <span><h1 id="header" class="importent" style="text-align:center; font-size:60px">pet food israel</h1></span> 
        <span><img src="../static/petFoot.png" alt=“text” style=" height: 100px" ></span> 
         </div><br>
</div><br>

<span style="border:2px solid rgb(214, 209, 199);text-align:center;"> <form action="URL">
        <label for="First Name">First Name</label><br>
        <input type="text" id="First Name" name="First Name" ><br>
        <label for="last Name">last Name</label><br>
        <input type="text" id="last Name" name="last Name" ><br>
       
        <label for="Date Of Birth">Date Of Birth</label><br>
        <input type="date" id="Date Of Birth" name="Date Of Birth" ><br>
        <label for="email">email</label> <br>
        <input type="email" id="email" name="email"><br><br>
        <label for="phone number">phone number</label> <br>
        <input type="tel" id="phone number" name="phone number"><br><br>
        <label for="number of pets">number of pets</label><br>
        <input type="number" id="number of pets" name="number of pets" ><br><br>

        <input type="submit"><br><br><br>
        
            </form>
        </span>
    <button onclick="window.location = 'homePage.html#jump'">back to home page</button><br>
           

</body>
</html>