<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(217, 216, 200);">
    <div style="background-color:rgb(200, 200, 177);border:5px solid rgb(112, 103, 80);  padding: 1px; margin: 1px;">
   <span><h1 id="header" class="importent" style="text-align:center; font-size:60px">pet food israel</h1>
   <img src="../static/petFoot.png" alt=“text” style=" height: 100px" ></span> 
    </div><br>
    <h1 style="background-color:rgb(156, 152, 133);text-align:center;">Where pets are a
        part of the family</h1>
        <p style="font-size:160%; font-family:courier; text-align:center">At pet food israel, we provide your pets with
            holistic foods, expertise, and more.</p>
    <span style="border:2px solid rgb(214, 209, 199);font-size:100%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; text-align:center">Leave your contact details now
         and a member of our international team will contact you shortly.
         <button onclick="window.location = 'contact.html#jump'">contact us</button><br>
    </span><br>
    

</body>
</html>