<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="../static/style.css" rel="stylesheet"/>
    <script defer src="myFunctions.js"></script>
</head>
<body >


    <div class="header1">
    pet food israel.<span class="catIcon" ><img src="../static/catIcon.jpg.png" alt=""style="width:60px" ></span>
    </div>

   
 <nav class="navBar">
        <ul>
            <li id="homeNav"><a class="aLinks" href="homePageNew.html">Home</a></li>
            <li id="conNav"><a class="aLinks" href="contactNew.html">Contact</a></li>
        </ul>
 </nav>



    <div class="headerphoto">
        <div class="headerphotoText"><h1>Where pets are a part of the family...</h1></div>
    </div><br>



<div class="gallery"> 

    <div  class="cardImage" id="item1">
        <img src="../static/dogFood2.webp" style="width:100%">
        <div class="container">
        <p>young dogs </p>
        </div>
    </div>

    

    <div  class="cardImage" id="item2">
        <img src="../static/adultsFood2.jpg" style="width:100%">
        <div class="container">
        <p>adult dogs</p>
        </div>
    </div>


    <div  class="cardImage" id="item3">
        <img src="../static/catFood.jpg" style="width:100%">
        <div class="container">
        <p>adult cats</p>
        </div>
    </div>

    <div  class="cardImage" id="item4">
        <img src="../static/puppyCatFood.jpg" style="width:100%">
        <div class="container">
        <p>young cats</p>
        </div>
    </div>

    <br><br>

</div>
 
<span id="loadMore">
    <button id="loadMorebutton" class="click" onclick="showLoadMoreImg()">load more</button><br>
</span>



<div class="galleryLoadMore" id="galleryLoadMoreID">
    <div  class="cardImage" id="item5">
     <img src="../static/perfectWeightCat.jpg" style="width:100%">
     <div class="container">
     <p>perfect Weight</p>
     </div>
    </div>

    <div  class="cardImage" id="item6">
    <img src="../static/largBread.jpg" style="width:100%">
    <div class="container">
    <p>larg Bread</p>
    </div>
    </div> <br>
</div><br>

<span id="showLass">
    <button id="showLassbutton" class="click" onclick="showLassImg()" >show Lass</button><br>
</span><br><br>



<div id="homeBody">
    <h1>about Us</h1 id="abouts">
    <p>At pet food israel, we provide your pets with
        holistic foods, expertise, and more.</p>
<span>Leave your contact details now
     and a member of our international team will contact you shortly.
</span><br> <br><br>
<span>
    <button id="readMore" class="click2" >Read More</button><br>
</span>
</div><br><br>
        
        
    
    
    

</body>
</html>